.column {
    display: inline-block;
    text-align: center;
    height: 200px;
    width: 250px;
    text-transform: capitalize;
    border: 1.5px solid; 
    border-radius: 10px;
    margin: 2.5px;
  }
  
  .columns {
    display: flex;
  }

  .pokename {
      padding: 30px 15px 0px;
      color: #369;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
  }